#header {
    height: 100px;
    width: 100%;
}

#menu {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu ul {
    list-style: none;
    display: flex;
}

#menu li {
    margin: 10px;
}

#picture {
    height: 600px;
    width: 100%;
}

#picture img {
    object-position: 10% 40%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#content {
    height: 100%;
    width: 100%;
}

.menu-item {

    height: 100%;
}

.bg-orange {
    background-color: #ea5300;
}

.bg-red {
    background-color: red;
}

.bg-grey {
    background-color: #303030;
}