body,
div,
p {
    margin: 0;
}

#header {
    height: 7%;
    width: 100%;
}

#header img {
    height: 100%;

}

#menu {
    height: 7%;
}

#menu ul {
    list-style: none;
    display: flex;
    font-family: spyagency, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#menu li {
    margin: 0 2em;
}

#menu a {
    color: inherit;
    text-decoration: none;
}


.underline {
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
}

#picture {
    height: 25em;
    width: 100%;
}

#picture img {
    object-position: 10% 40%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#content {
    padding-top: 100px;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: spyagency, Arial, Helvetica, sans-serif;
    font-size: 400%;
    text-align: center;
    margin-top: 0px;
    color: #ea5300;
}

#content p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 100%;
}

.container-text {
    padding: 0 30%;
}

.menu-item {

    height: 100%;
}

.bg-orange {
    background-color: #ea5300;
}

.bg-red {
    background-color: red;
}

.bg-grey {
    background-color: #303030;
}

@font-face {
    font-family: 'spyagency';
    src: url('spyagency.ttf') format('truetype');
}